# Clustering

In [2]:
# imports
import pandas as pd

In [4]:
# read in the data
data = pd.read_csv('Datasets/calcofi_combined.csv')
data.head()

,Cst_Cnt,Sta_ID,ChlorA,Phaeop,MeanAs,DarkAs,T_degC,Salnty,O2ml_L,PO4uM,...,Year,Month,Julian_Day,Lat_Dec,Lon_Dec,Wind_Spd,Wave_Ht,Dry_T,Wave_Prd,Barometer
0,1,054.0 056.0,NaN,NaN,NaN,NaN,8.414828,33.770571,NaN,NaN,...,1949,3,60,38.833333,-124.083333,18.0,NaN,NaN,NaN,NaN
1,2,052.0 075.0,NaN,NaN,NaN,NaN,6.612188,33.811156,NaN,NaN,...,1949,3,60,38.583333,-125.800000,5.0,NaN,NaN,NaN,NaN
2,3,051.0 085.0,NaN,NaN,NaN,NaN,7.291935,33.505419,NaN,NaN,...,1949,3,61,38.475000,-126.666666,5.0,NaN,NaN,NaN,NaN
3,4,050.0 095.0,NaN,NaN,NaN,NaN,7.437742,33.563267,NaN,NaN,...,1949,3,61,38.333333,-127.516666,8.0,NaN,NaN,NaN,NaN
4,5,050.0 104.0,NaN,NaN,NaN,NaN,8.095385,33.438200,NaN,NaN,...,1949,3,61,38.233333,-128.366666,13.0,NaN,NaN,NaN,NaN

In [5]:
# removes the NAs for ChlorA
data_clean = data.dropna(subset=['ChlorA'])
data_clean.head()

,Cst_Cnt,Sta_ID,ChlorA,Phaeop,MeanAs,DarkAs,T_degC,Salnty,O2ml_L,PO4uM,...,Year,Month,Julian_Day,Lat_Dec,Lon_Dec,Wind_Spd,Wave_Ht,Dry_T,Wave_Prd,Barometer
18831,18832,133.0 035.0,0.650000,0.425000,NaN,NaN,13.172667,34.336533,2.785000,NaN,...,1973,3,67,25.850000,-113.500000,12.0,3.0,19.0,6.0,1001.6
18832,18833,142.7 008.0,2.483333,1.103333,NaN,NaN,16.316316,34.930211,2.298421,NaN,...,1973,3,69,25.026666,-110.750000,7.0,NaN,19.2,NaN,1001.7
18833,18834,142.0 008.0,0.240000,3.330000,NaN,NaN,14.762400,34.833250,2.067200,NaN,...,1973,3,69,25.093333,-110.783333,4.0,1.0,20.6,3.0,1001.7
18834,18835,120.0 010.0,2.425000,2.483000,NaN,NaN,15.270000,NaN,3.535000,1.812,...,1973,3,70,28.856666,-113.258333,15.0,1.0,18.8,1.0,1001.0
18835,18836,120.0 009.0,5.540909,2.557273,NaN,NaN,14.281923,NaN,2.874615,NaN,...,1973,3,71,28.878333,-113.191666,10.0,1.0,18.9,2.0,1000.8