# Transformation and Preparation of Datasets

## Importing Data and Libraries

In [33]:
import pandas as pd
import matplotlib.pyplot as plt

# Load full datasets
bottle_data = pd.read_csv('Datasets/194903-202105_Bottle.csv', encoding='latin1')
cast_data = pd.read_csv('Datasets/194903-202105_Cast.csv', encoding='latin1')

/var/folders/bk/6zsdr_0d5tbb4ggk0ngc_l940000gn/T/ipykernel_17607/2774011456.py:5: DtypeWarning: Columns (47,61) have mixed types. Specify dtype option on import or set low_memory=False.
  bottle_data = pd.read_csv('Datasets/194903-202105_Bottle.csv', encoding='latin1')
/var/folders/bk/6zsdr_0d5tbb4ggk0ngc_l940000gn/T/ipykernel_17607/2774011456.py:6: DtypeWarning: Columns (40,41,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  cast_data = pd.read_csv('Datasets/194903-202105_Cast.csv', encoding='latin1')

## Data Joint and Unification

In [34]:
# Select relevant columns from each dataset
bottle_columns = ['Cst_Cnt', 'Sta_ID', 'ChlorA', 'Phaeop', 'T_degC', 'Salnty', 'O2ml_L', 'PO4uM', 'SiO3uM', 'NO3uM', 'Depthm']
cast_columns = ['Cst_Cnt', 'Sta_ID', 'Date', 'Year', 'Month', 'Julian_Day', 'Julian_Date', 'Lat_Dec', 'Lon_Dec', 'Wind_Spd', 'Wave_Ht', 'Dry_T', 'Wave_Prd', 'Barometer']

# Filter and group the relevant columns
bottle_data_filtered = bottle_data[bottle_columns].groupby(['Cst_Cnt', 'Sta_ID']).mean().reset_index()
cast_data_filtered = cast_data[cast_columns].groupby(['Cst_Cnt', 'Sta_ID', 'Date', 'Year', 'Month', 'Julian_Day', 'Lat_Dec', 'Lon_Dec']).mean().reset_index()

# Merge the datasets using 'Cst_Cnt' and 'Sta_ID' as identifiers
combined_data = pd.merge(bottle_data_filtered, cast_data_filtered, on=['Cst_Cnt', 'Sta_ID'], how='inner')

# Display the combined dataset
combined_data.tail()

,Cst_Cnt,Sta_ID,ChlorA,Phaeop,T_degC,Salnty,O2ml_L,PO4uM,SiO3uM,NO3uM,...,Month,Julian_Day,Lat_Dec,Lon_Dec,Julian_Date,Wind_Spd,Wave_Ht,Dry_T,Wave_Prd,Barometer
35639,35640,093.3 060.0,0.441000,0.272333,10.189478,26.013475,3.393522,1.753478,27.994783,21.642174,...,5,125,31.84630,-119.56590,44321.0,3.0,2.0,14.2,8.0,1015.8
35640,35641,093.3 070.0,0.296533,0.130800,10.864045,25.739976,3.831318,1.485909,23.364091,17.431364,...,5,126,31.51513,-120.24052,44322.0,7.0,NaN,13.6,NaN,1015.4
35641,35642,093.3 080.0,0.214667,0.107533,10.590261,25.814580,3.374952,1.610000,27.298182,19.575000,...,5,126,31.17682,-120.92090,44322.0,6.0,NaN,12.7,NaN,1016.9
35642,35643,093.3 090.0,0.235235,0.112588,10.446458,25.826096,3.724625,1.532917,26.943333,18.801250,...,5,126,30.84638,-121.58903,44322.0,7.0,3.0,13.1,8.0,1017.6
35643,35644,093.3 100.0,0.205000,0.100643,11.025136,25.713335,3.615905,1.558095,27.098095,18.823333,...,5,126,30.51350,-122.25867,44322.0,6.0,2.0,13.0,5.0,1017.8

In [35]:
# Calculate the percentage of NaN values per column, formatted to 2 decimals and in percentage format
na_percentage = (combined_data.isna().mean() * 100).round(2)

# Display the results in percentage format
na_percentage = na_percentage.apply(lambda x: f"{x:.2f}%")

# Print the results
print('Missing Values per Column (in %)')
print(na_percentage)

Missing Values per Column (in %)
Cst_Cnt         0.00%
Sta_ID          0.00%
ChlorA         60.91%
Phaeop         60.91%
T_degC          0.72%
Salnty          2.18%
O2ml_L         23.05%
PO4uM          51.58%
SiO3uM         57.41%
NO3uM          59.93%
Depthm          0.00%
Date            0.00%
Year            0.00%
Month           0.00%
Julian_Day      0.00%
Lat_Dec         0.00%
Lon_Dec         0.00%
Julian_Date     0.00%
Wind_Spd        4.71%
Wave_Ht        64.26%
Dry_T          43.02%
Wave_Prd       65.58%
Barometer      43.04%
dtype: object

## Handling Missing Values and Clustering

In [36]:
# removes the NAs for ChlorA
data_clean = combined_data.dropna(subset=['T_degC'])
data_clean.head()

,Cst_Cnt,Sta_ID,ChlorA,Phaeop,T_degC,Salnty,O2ml_L,PO4uM,SiO3uM,NO3uM,...,Month,Julian_Day,Lat_Dec,Lon_Dec,Julian_Date,Wind_Spd,Wave_Ht,Dry_T,Wave_Prd,Barometer
0,1,054.0 056.0,NaN,NaN,8.414828,33.770571,NaN,NaN,NaN,NaN,...,3,60,38.833333,-124.083333,17958.0,18.0,NaN,NaN,NaN,NaN
1,2,052.0 075.0,NaN,NaN,6.612188,33.811156,NaN,NaN,NaN,NaN,...,3,60,38.583333,-125.800000,17958.0,5.0,NaN,NaN,NaN,NaN
2,3,051.0 085.0,NaN,NaN,7.291935,33.505419,NaN,NaN,NaN,NaN,...,3,61,38.475000,-126.666666,17959.0,5.0,NaN,NaN,NaN,NaN
3,4,050.0 095.0,NaN,NaN,7.437742,33.563267,NaN,NaN,NaN,NaN,...,3,61,38.333333,-127.516666,17959.0,8.0,NaN,NaN,NaN,NaN
4,5,050.0 104.0,NaN,NaN,8.095385,33.438200,NaN,NaN,NaN,NaN,...,3,61,38.233333,-128.366666,17959.0,13.0,NaN,NaN,NaN,NaN

In [37]:
# check the data types
# removes the NAs for ChlorA
data_clean = pd.DataFrame(data_clean)
print(data_clean.dtypes)

Cst_Cnt          int64
Sta_ID          object
ChlorA         float64
Phaeop         float64
T_degC         float64
Salnty         float64
O2ml_L         float64
PO4uM          float64
SiO3uM         float64
NO3uM          float64
Depthm         float64
Date            object
Year             int64
Month            int64
Julian_Day       int64
Lat_Dec        float64
Lon_Dec        float64
Julian_Date    float64
Wind_Spd       float64
Wave_Ht        float64
Dry_T          float64
Wave_Prd       float64
Barometer      float64
dtype: object

In [38]:
data_clean['Date'] = pd.to_datetime(data_clean['Date'], format='%m/%d/%Y')
print(data_clean.dtypes)

Cst_Cnt                 int64
Sta_ID                 object
ChlorA                float64
Phaeop                float64
T_degC                float64
Salnty                float64
O2ml_L                float64
PO4uM                 float64
SiO3uM                float64
NO3uM                 float64
Depthm                float64
Date           datetime64[ns]
Year                    int64
Month                   int64
Julian_Day              int64
Lat_Dec               float64
Lon_Dec               float64
Julian_Date           float64
Wind_Spd              float64
Wave_Ht               float64
Dry_T                 float64
Wave_Prd              float64
Barometer             float64
dtype: object

In [39]:
# making a new csv of the data
data_clean.to_csv('datasets/calcofi_combined_temp.csv', index=False)